.text-wrapper{
  width: 50%;
  margin: 3% auto;
}

.text-wrapper h1 {
  color: #695e3e;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.text-wrapper h2 {
  color: #695e3e;
  text-align: left;
  font-size: 25px;
  text-transform: uppercase;
}

.text-wrapper p{
  padding: 1% 0;
}


@media (max-width: 767px) {

  /* Adjust styles for smaller screens */
  .text-wrapper{
    width: 80%;
  }
}
