.menu-icon-container {
  position: fixed;
  top: 2%;
  right: 2%;
  padding: 15px;
  z-index: 9998;
}

.menu {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-icon__bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: transform 0.2s ease-in-out;
}

.menu-icon__bar:nth-child(1) {
  top: 0;
}

.menu-icon__bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-icon__bar:nth-child(3) {
  bottom: 0;
}

.menu-icon.open .menu-icon__bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.menu-icon.open .menu-icon__bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .menu-icon__bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.overlay p {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.close-button {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  border: none;
  font-size: 48px;
  color: white;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 20px 0;
}

.overlay-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 24%;
  transform: translateY(-30%);
}

@media (max-width: 767px) {

  /* Adjust styles for smaller screens */
  .overlay p {
    font-size: 16px;
  }

  .overlay-text{
    width: 50%;
  }

  .line{
    margin: 10px 0;
  }
}
